.Banner {
	height: 138px;
	background-color: aquamarine;
	background-image: url("assets/images/backgroundImg.png");
	background-position: center;
	background-size: cover;
	border-radius: 8px;
	display: flex;
	align-items: center;
    justify-content: center;
}
