.JobCard {
	display: flex;
	padding: 12px;
	background-color: white;
	margin-bottom: 32px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	height: 114px;
	color: #334680;
}

.JobCard:hover {
	cursor: pointer;
}

.JobCard__primary-info {
	display: flex;
	flex-direction: column;
	max-width: 323px;
}

.JobCard__secondary-info {
	margin-left: auto;
	display: flex;
	align-self: end;
}

.JobCard__secondary-info,
.JobCard__type {
	font-size: 12px;
}
