.JobPage {
	display: grid;
	grid-template-columns: 1fr 2.2fr;
	gap: 0 30px;
}

.JobPage__company {
	display: flex;
}

.JobPage__description {
	margin-top: 35px;
	color: #334680;
	line-height: 24px;
	max-width: 730px;
}

.JobPage__description > h2,
.JobPage__description > h3,
.JobPage__description strong {
	margin: 24px 0;
}

.JobPage__contact p {
	line-height: 24px;
	max-width: 415px;
}

.JobPage__description strong {
	display: block;
}

.JobPage__header {
	grid-column: 1/3;
	margin-bottom: 65px;
}

.JobPage__title {
	font-size: 24px;
	color: #334680;
}

.JobPage__flex-grp {
	display: flex;
}

.JobPage__header-content {
	margin-bottom: 35px;
}

.JobPage__job-description {
	grid-column: 2/3;
}
