.PostDate {
	margin-top: auto;
	padding: 6px 8px;
	border-radius: 4px;
	width: max-content;
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #b9bdcf;
}

.PostDate__clock-icon {
	margin-right: 5px;
	height: 15px;
	width: 15px;
}
.PostDate--JobPage {
	padding: 0;
	margin-top: 8px;
}
