.Search {
	width: 65%;
}

.Search__form {
	display: flex;
	height: 55px;
	border-radius: 4px;
	background-color: white;
	padding: 4px;
}

.Search__input-container {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 12px;
}

.Search__input {
	color: #b9bdcf;
	font-size: 12px;
	width: 100%;
	border: none;
	margin-left: 10px;
	height: 100%;
}

.Search__btn {
	font-size: 15px;
	font-weight: bold;
	color: white;
	border: none;
	height: 100%;
	border-radius: 4px;
	width: 146px;
	background: #1e86ff;
}

.Search__btn:hover {
	cursor: pointer;
}

.Search__globe-icon {
	height: 15px;
	width: 15px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 16px;
}